body {
    margin: 0;
    font-family: arial;
}

header {
    background: #999;
    color: white;
    padding: 15px 15px 0px 15px;
}

header h1 {
    display: inline;
    margin: 0;
}

nav ul {
    display: inline;
    padding: 0 0 0 15px;
    margin: 0;
}

nav ul li {
    background: #000;
    border-radius: 5px;
    color: white;
    display: inline-block;
    list-style-type: none;
    padding: 5px 15px;
}

nav ul li a {
    color: white;
}

#special {
    background: #336;
    border-radius: 0;
}

.row:after {
    clear: both;
    content: "";
    display: table;
}

.col {
    background: #333;
    border-radius: 5px;
    color: white;
    padding: 10px .5px;
    margin: .5%;
    float: left;
    width: 31%;
}

footer {
}